@use "sass:math" as math;

#cover{
  @apply px-3 md:px-5 py-5 flex flex-col gap-y-4 justify-center items-center;
  min-height: calc(100vh - theme("height.16"));

  .contents{ @apply flex flex-col gap-y-4 justify-center items-center max-w-screen-md lg:max-w-screen-lg; }

  h1{
    @apply text-7xl lg:text-8xl font-black text-center bg-clip-text bg-green-500;
    background-image: radial-gradient(
                    farthest-corner at 60px 40px,
                    theme("colors.green.500") 20%,
                    theme("colors.blue.800") 40%,
                    theme("colors.green.500") 80%
    );
    span{
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px theme("colors.green.600");
    }
  }

  .author{
    @apply text-xs text-gray-400 text-center flex gap-2 items-center justify-center;
    img{
      @apply w-5 h-5 aspect-square rounded-full;
    }
  }

  .upload{
    @apply max-w-screen-sm w-full;
    label{ @apply flex justify-center items-center relative w-full; }
    input{
      @apply bg-transparent text-white sm:text-lg w-full h-14 focus:shadow-none
      focus:outline-none focus:border-transparent pr-14;
      border-image: linear-gradient(
                      theme("colors.green.500") 20%,
                      theme("colors.blue.800") 40%,
                      theme("colors.green.500") 100%
      ) 20;
      border-width: 2px;
      &:focus{
        --tw-ring-color: transparent;
      }
        &::placeholder{
          @media (max-width: theme("screens.sm")) {
            @apply text-sm;
          }
        }
    }
    button[type]{
      @apply absolute right-0 top-0 mt-3.5 mr-24 sm:mr-28 z-10 text-green-500 active:text-green-400;
    }
    .upload_btn{
      @apply bg-green-600 active:bg-green-500 h-14 py-3 px-5 font-semibold flex items-center justify-center;
      span{ @apply hidden sm:block; }
      svg{ @apply sm:hidden; }
    }
  }
}
header{
  @apply w-full h-14 p-2 md:px-3 border-b border-b-gray-700 flex justify-between items-center text-lg;
  .logo{ @apply font-black text-2xl italic text-green-500; }
  .socials{
    @apply flex gap-1 items-center;
  }
}

.designs{
  @apply max-w-screen-lg p-5 mx-auto;

  .m-item{
    @apply p-1 bg-gray-800 mb-3 w-full;

    @media (min-width: theme("screens.sm")) {
      max-width: calc(50% - 10px);
    }

    @media (min-width: theme("screens.lg")) {
      max-width: calc(#{math.div(100,3)}#{"%"} - 10px);
    }

  }
}