---
import FontAwesomeIcon from "../reactComponents/Fontawesome";
import Icons from "../reactComponents/Icons";
import {mdiAccountCircle} from "@mdi/js";
---

<header slot="header">
    <span class="logo">DMarket</span>
        <button class="sign-in" data-target="#pop-closed">
            <Icons path={mdiAccountCircle} size={1.2} title="Google sign in" client:only="react"/>
        </button>
</header>
